export SECRET_KEY=some_secret_key
export DEBUG=False
export ALLOWED_HOSTS=localhost,127.0.0.1,.herokuapp.com
export DATABASE_URL=postgres://postgres:postgres@localhost/postgres
export SENTRY_DSN=
export CLOUDAMQP_URL=
export BT_MERCHANT_ID=2t44xjrfx2rbxrx8
export BT_PUBLIC_KEY=jdsrbj8k4btw6qcd
export BT_PRIVATE_KEY=027a64815c7fbc1f7da99d216787a739
